<launch>
  <!--node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo" / -->

  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
  <!--  <arg name="rgb_processing" value="true" />
    <arg name="depth_registration" value="true" />
    <arg name="depth_processing" value="true" />
    <arg name="scan_processing" value="true" />           -->
    
    <!-- We must specify an absolute topic name because if not it will be prefixed by "$(arg camera)".
         Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 --> 
    <arg name="scan_topic" value="/scan_kinect" />
  </include>

  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser" args="0 0 0 0 0 0 base_footprint laser 50" />
  
  <include file="$(find explo_octo_3d)/launch/turtlebot_gmapping.launch"/>

  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>

  <node pkg="explo_octo_3d" type="scan_to_pcl" name="scan_to_pcl" />

      <!-- Using octomap -->
    <!-- node pkg="octomap_server" type="octomap_server_node" name="octomap_server"-->
        <!-- param name="resolution" value="0.05" /-->
        <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
        <!-- param name="frame_id" type="string" value="/map" / -->
        <!-- maximum range to integrate (speedup!) -->
        <!-- param name="sensor_model/max_range" value="5.0" / -->  
        <!-- data source to integrate (PointCloud2) -->
        <!-- remap from="cloud_in" to="Current_Map" /-->
    <!-- /node -->
</launch>
